<div class="com-contactus-demand">
	<div class="title">
		<h2>商务合作</h2>
	</div>
	<%= form_for(@feedback) do |f| %>
 		<div class="ways clearfix">
    			<%= f.text_field(:name, :placeholder => '姓名', :class => "way") %>
    			<%= f.text_field(:email, :placeholder => '邮箱', :class => "way") %>
    			<%= f.text_field(:phone, :placeholder => '电话', :class => "way") %>
  		</div>
    		<%= f.text_area(:content, :placeholder => '在这里写下您的需求，我们会尽快与您联系！', :class => "mess") %>
    			<%= f.submit(:value => '提交',:class => "submit")%>
	<% end %>
</div>