<div class="page-container">
<%= stylesheet_link_tag "pages/homes/show", :media => "all" %>
<%= render partial: "components/full-banner/index"%>
	<div class="page-content product">
		<div class="content-hd">
			<span class="iconfont icon-water icon"></span><h2>产品与服务</h2>
		</div>
		<ul class="content-bd clearfix">
			<li>
				<figure>
					<img src="/img/home/pro-1.jpg">
					<p>工业过滤</p>
				</figure>
				<p><a href="javascript:void(0);">查看更多</a></p>
			</li>
			<li>
				<figure>
					<img src="/img/home/pro-2.png">
					<p>集成方案</p>
				</figure>
				<p><a href="javascript:void(0);">查看更多</a></p>
			</li>
			<li>
				<figure>
					<img src="/img/home/pro-3.png">
					<p>农业灌溉</p>
				</figure>
				<p><a href="javascript:void(0);">查看更多</a></p>
			</li>
		</ul>
	</div>
	<div class="full-pic imgcover">
		<img src="/img/home/banner.jpg">
		<div class="detail">
			<h2>The Culture of Water</h2>
			<p>
				AZUD is a world leader in the<br>
				MANUFACTURING of <br>
				EIFTRATION & WATER TREATMENT<br>
				TECHNOLOGIES<br>
				to provide solutions for DIFFERENT KINDS<br>
				OF WATER AND/OR REQUIREMENTS.<br>
			</p>
			<a href="javascript:void(0);">了解AZUD</a>
		</div>
	</div>
<%=render partial: "components/home-news/index" %>
<%=render partial: "components/partner/index"%>
<%= javascript_include_tag "pages/homes/show" %>
</div>