<div class="page-container">
	<%= stylesheet_link_tag "pages/papers/index" %>
	<div class="banner"><img src="/img/press/banner.jpg" alt=""></div>
	<ul class="lists">
	<% @papers.each do |paper|%>
		<li class="list">
			<a href="/papers/<%=paper.id %>" target="_self">
				<h4><%= paper.title %><% if paper.front %>
					<img src="/img/press/up.png" alt=""> 
					<% end %>
				</h4>
				<p class="text-overflow"><%= paper.subtitle %></p>
				<span><%= paper.updated_at.strftime("%Y-%m-%d") %></span>
			</a>
		</li>
	<%end%>
	</ul>
	
	<div class="digg_pagination clearfix">
<!-- 	        <div class="page_info">
	          <#%= page_entries_info @posts %>
	        </div> -->
	        <%= page_navigation_links @posts %>
	</div>
 	<%= javascript_include_tag "pages/papers/index" %>
</div>