<div class="page-container">
	<%=stylesheet_link_tag 'pages/papers/detail' %>
	<div class="container">
		<div class="title">
			<h1><%= @paper.title %></h1>
			<span class="smart-time"><%= @paper.updated_at.strftime("%Y-%m-%d") %></span>
		</div>
		<div class="rich-text">
			<%= @content.html_safe %>
		</div>
		<% if @count == 1 %>
			<div class="sub-nav clearifx">
				<a href="/papers">返回列表</a>
			</div>
		<% else %>
			<div class="sub-nav clearfix <% if @paper.id == @last_paper_id %>first<%elsif @paper.id == @first_paper_id %>last<%end%>" >
				<a class="prev_page" href="/papers/<%= @id_array[1] %>">上一篇</a>
				<a class="next_page" href="/papers/<%= @id_array[0] %>">下一篇</a>
				<a href="/papers">返回列表</a>
			</div>
		<% end %>
	</div>
		<%= javascript_include_tag "pages/papers/detail" %>
</div>