<div class="page-container">
	<%=stylesheet_link_tag 'pages/papers/detail' %>
	<div class="container">
		<div class="title">
			<h1><%= @paper.title %></h1>
			<span class="smart-time"><%= @paper.updated_at.strftime("%Y-%m-%d") %></span>
		</div>
		<div class="rich-text">
			<%= @paper.content.html_safe %>
		</div>
		<div class="sub-nav clearfix <% if @paper.id == Paper.last.id %>first<%elsif @paper.id ==Paper.first.id %>last<%end%>" >
			<a class="prev_page" href="/papers/<%= @paper.id + 1 %>">上一篇</a>
			<a class="next_page" href="/papers/<%= @paper.id - 1 %>">下一篇</a>
			<a href="/papers">返回列表</a>
		</div>

	</div>
		<%= javascript_include_tag "pages/papers/detail" %>
</div>