<div class="page-container">
	<%= stylesheet_link_tag "pages/filteration/luxon" %>
	<div class="luxon-banner">
		<img src="/img/filteration/luxon/banner.jpg">
	</div>
	<%= render partial: "/components/luxon-module/index" %>
	<%= render partial: "/components/luxon-product/index" %>
	<%= render partial: "/components/luxon-apply/index" %>
	<%= javascript_include_tag "pages/filteration/luxon" %>
</div>