<!DOCTYPE html>
<html>
<head>
  <title>Azud控股-新展环保</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1"/>
  <meta name="renderer" content="webkit">
  <meta name="description" content="世界知名过滤系统及水处理系统制造商，产品广泛应用于工业，市政及农业领域。AZUD中国分公司-新展环保全面提供AZUD（阿速德）在中国的售前售后，技术支持服务。"/>
  <meta name="keywords" content="AZUD 新展环保 阿速德"/>
  <meta name="author" content="g"/>
  <%= favicon_link_tag "/favicon.ico" %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag   "components/page-header/index", :media => "all" %>
  <%= stylesheet_link_tag   "components/page-footer/index", :media => "all" %>

  <%= javascript_include_tag "application" %>

  <%= csrf_meta_tags %>
</head>
<body>
<%= render partial: "components/page-header/index" %>
<%= yield %>
<%= render partial: "components/page-footer/index" %>
</body>
</html>
